<div class="page-header">
    <h1>Elbrus amoCRM project</h1>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a >{{userData.username}}</a></li>
                <li><a href="/logout">Log Out</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container row">
    <h4>All leads:</h4>
    <div>
        {{#each correctData}}
            <div class="column">Lead name - {{this.name}}</div>

        {{/each}}
    </div>
</div>
