<div>
        {{#each data}}
            <ul>
                <li>Lead ID - {{this.id}}</li>
                <li>Lead name - {{this.name}}</li>
                <li>Lead sale value - {{this.sale}}</li>
                <li>Lead company name - {{this.company.name}}</li>

            </ul>
        {{/each}}
</div>

